body {
  font-family: arial, sans-serif;
}
.weather-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weatherApp {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid rgb(43, 43, 211);
  border-radius: 5px;
  background-image: url("cha\ 7.jpg");
  background-size: cover;
}

.weatherApp::before {
  opacity: 0.5;
}

h1 {
  color: #202124;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #70757a;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 100;
  list-style: none;
  text-transform: capitalize;
}

.overview {
  margin-bottom: 20px;
}
.weather-temperature .img {
  margin-right: 20px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(43, 43, 211);
  font-size: 65px;
  font-weight: 400;
  line-height: -1;
}
.weather-temperature .units {
  font-size: 16px;
  position: relative;
  top: -34px;
}
.weather-temperature .active {
  color: rgba(0, 0, 0, 0.961);
  cursor: none;
